# importing libraries

In [1]:
#importing
import  pandas as pd
import numpy as np
import os

In [2]:
ords_prods_mergedd = pd.read_pickle(r'C:\Users\makay\Documents\Pythons files\Master folder\02 Data\Prepared data\ords_prods_merged4.7.pkl')

In [3]:
df = ords_prods_mergedd[:1000000]

In [4]:
df.shape

(1000000, 22)

In [5]:
df.head(10)

,Unnamed: 0_x,order_id,user_id,eval_set,order_number,order_dow,order_hour_of_day,days_since_prior_order,first_time_ordering,product_id,...,Unnamed: 0_y,product_name,aisle_id,department_id,prices,_merge,price_range_loc,busiet day,busiest_days,busiest_period_of_day
0,0,2539329,1,prior,1,2,8,NaN,True,196.0,...,195,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Regularly busy days,Average orders
1,1,2398795,1,prior,2,3,7,15.0,False,196.0,...,195,Soda,77,7,9.0,both,Mid-range product,Regularly busy,slowest days,Average orders
2,2,473747,1,prior,3,3,12,21.0,False,196.0,...,195,Soda,77,7,9.0,both,Mid-range product,Regularly busy,slowest days,Average orders
3,3,2254736,1,prior,4,4,7,29.0,False,196.0,...,195,Soda,77,7,9.0,both,Mid-range product,Least busy,Regularly busy days,Average orders
4,4,431534,1,prior,5,4,15,28.0,False,196.0,...,195,Soda,77,7,9.0,both,Mid-range product,Least busy,Regularly busy days,Average orders
5,5,3367565,1,prior,6,2,7,19.0,False,196.0,...,195,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Regularly busy days,Average orders
6,6,550135,1,prior,7,1,9,20.0,False,196.0,...,195,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Busiest days,Average orders
7,7,3108588,1,prior,8,1,14,14.0,False,196.0,...,195,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Busiest days,Average orders
8,8,2295261,1,prior,9,1,16,0.0,False,196.0,...,195,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Busiest days,Average orders
9,9,2550362,1,prior,10,4,8,30.0,False,196.0,...,195,Soda,77,7,9.0,both,Mid-range product,Least busy,Regularly busy days,Average orders

In [6]:
df.groupby('product_name')

In [7]:
df.groupby('department_id').agg({'order_number': ['mean']})

              order_number
                      mean
department_id
4                18.825780
7                17.472355
13               17.993423
14               19.246334
16               19.463012
17               11.294069
19               19.305237
20               17.599636

In [8]:
df.groupby('department_id')['order_number'].mean()

department_id
4     18.825780
7     17.472355
13    17.993423
14    19.246334
16    19.463012
17    11.294069
19    19.305237
20    17.599636
Name: order_number, dtype: float64

In [9]:
df.groupby('department_id').agg({'order_number': ['mean', 'min', 'max']})

              order_number
                      mean min max
department_id
4                18.825780   1  99
7                17.472355   1  99
13               17.993423   1  99
14               19.246334   1  99
16               19.463012   1  99
17               11.294069   1  98
19               19.305237   1  99
20               17.599636   1  99

In [10]:
ords_prods_mergedd['max_order'] = ords_prods_mergedd.groupby(['user_id'])['order_number'].transform(np.max)

In [11]:
ords_prods_mergedd.head(15)

,Unnamed: 0_x,order_id,user_id,eval_set,order_number,order_dow,order_hour_of_day,days_since_prior_order,first_time_ordering,product_id,...,product_name,aisle_id,department_id,prices,_merge,price_range_loc,busiet day,busiest_days,busiest_period_of_day,max_order
0,0,2539329,1,prior,1,2,8,NaN,True,196.0,...,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Regularly busy days,Average orders,10
1,1,2398795,1,prior,2,3,7,15.0,False,196.0,...,Soda,77,7,9.0,both,Mid-range product,Regularly busy,slowest days,Average orders,10
2,2,473747,1,prior,3,3,12,21.0,False,196.0,...,Soda,77,7,9.0,both,Mid-range product,Regularly busy,slowest days,Average orders,10
3,3,2254736,1,prior,4,4,7,29.0,False,196.0,...,Soda,77,7,9.0,both,Mid-range product,Least busy,Regularly busy days,Average orders,10
4,4,431534,1,prior,5,4,15,28.0,False,196.0,...,Soda,77,7,9.0,both,Mid-range product,Least busy,Regularly busy days,Average orders,10
5,5,3367565,1,prior,6,2,7,19.0,False,196.0,...,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Regularly busy days,Average orders,10
6,6,550135,1,prior,7,1,9,20.0,False,196.0,...,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Busiest days,Average orders,10
7,7,3108588,1,prior,8,1,14,14.0,False,196.0,...,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Busiest days,Average orders,10
8,8,2295261,1,prior,9,1,16,0.0,False,196.0,...,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Busiest days,Average orders,10
9,9,2550362,1,prior,10,4,8,30.0,False,196.0,...,Soda,77,7,9.0,both,Mid-range product,Least busy,Regularly busy days,Average orders,10
10,144,2968173,15,prior,15,1,9,7.0,False,196.0,...,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Busiest days,Average orders,22
11,146,1870022,15,prior,17,2,16,8.0,False,196.0,...,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Regularly busy days,Average orders,22
12,147,1911383,15,prior,18,2,11,7.0,False,196.0,...,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Regularly busy days,Average orders,22
13,150,2715276,15,prior,21,1,9,7.0,False,196.0,...,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Busiest days,Average orders,22
14,151,487368,15,prior,22,1,10,14.0,False,196.0,...,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Busiest days,Most orders,22

In [12]:
ords_prods_mergedd.head(100)

,Unnamed: 0_x,order_id,user_id,eval_set,order_number,order_dow,order_hour_of_day,days_since_prior_order,first_time_ordering,product_id,...,product_name,aisle_id,department_id,prices,_merge,price_range_loc,busiet day,busiest_days,busiest_period_of_day,max_order
0,0,2539329,1,prior,1,2,8,NaN,True,196.0,...,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Regularly busy days,Average orders,10
1,1,2398795,1,prior,2,3,7,15.0,False,196.0,...,Soda,77,7,9.0,both,Mid-range product,Regularly busy,slowest days,Average orders,10
2,2,473747,1,prior,3,3,12,21.0,False,196.0,...,Soda,77,7,9.0,both,Mid-range product,Regularly busy,slowest days,Average orders,10
3,3,2254736,1,prior,4,4,7,29.0,False,196.0,...,Soda,77,7,9.0,both,Mid-range product,Least busy,Regularly busy days,Average orders,10
4,4,431534,1,prior,5,4,15,28.0,False,196.0,...,Soda,77,7,9.0,both,Mid-range product,Least busy,Regularly busy days,Average orders,10
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,5895,3226575,360,prior,1,5,12,NaN,True,196.0,...,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Regularly busy days,Average orders,3
96,6137,1469869,377,prior,3,5,17,3.0,False,196.0,...,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Regularly busy days,Average orders,3
97,6259,1927023,387,prior,2,4,10,22.0,False,196.0,...,Soda,77,7,9.0,both,Mid-range product,Least busy,Regularly busy days,Most orders,8
98,6740,858092,420,prior,4,1,19,30.0,False,196.0,...,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Busiest days,Average orders,22
99,6741,119314,420,prior,5,3,19,16.0,False,196.0,...,Soda,77,7,9.0,both,Mid-range product,Regularly busy,slowest days,Average orders,22

In [13]:
pd.options.display.max_rows = None

In [15]:
ords_prods_mergedd.loc[ords_prods_mergedd
                       ['max_order'] > 40, 'loyalty_flag'] = 'Loyal customer'

In [16]:
ords_prods_mergedd.loc[(ords_prods_mergedd['max_order'] <= 40) & (ords_prods_mergedd['max_order'] > 10), 'loyalty_flag'] = 'Regular customer'

In [17]:
ords_prods_mergedd.loc[ords_prods_mergedd['max_order'] <= 10, 'loyalty_flag'] = 'New customer'

In [18]:
ords_prods_mergedd['loyalty_flag'].value_counts(dropna  = False)

Regular customer    15891077
Loyal customer      10293737
New customer         6249398
Name: loyalty_flag, dtype: int64

In [20]:
ords_prods_mergedd[['user_id', 'loyalty_flag', 'order_number']].head(60)

    user_id      loyalty_flag  order_number
0         1      New customer             1
1         1      New customer             2
2         1      New customer             3
3         1      New customer             4
4         1      New customer             5
5         1      New customer             6
6         1      New customer             7
7         1      New customer             8
8         1      New customer             9
9         1      New customer            10
10       15  Regular customer            15
11       15  Regular customer            17
12       15  Regular customer            18
13       15  Regular customer            21
14       15  Regular customer            22
15       19      New customer             2
16       19      New customer             5
17       19      New customer             7
18       21  Regular customer            10
19       31  Regular customer            10
20       31  Regular customer            17
21       43  Regular customer             6
22       43  Regular customer             9
23       52  Regular customer             1
24       52  Regular customer             2
25       52  Regular customer             3
26       52  Regular customer             5
27       52  Regular customer             7
28       52  Regular customer             9
29       52  Regular customer            10
30       52  Regular customer            11
31       52  Regular customer            12
32       52  Regular customer            15
33       52  Regular customer            17
34       52  Regular customer            18
35       52  Regular customer            19
36       52  Regular customer            21
37       67  Regular customer             1
38       67  Regular customer             2
39       67  Regular customer             3
40       67  Regular customer             4
41       67  Regular customer             5
42       67  Regular customer             6
43       67  Regular customer             8
44       67  Regular customer             9
45       67  Regular customer            10
46       67  Regular customer            11
47       67  Regular customer            12
48       67  Regular customer            13
49       67  Regular customer            14
50       67  Regular customer            16
51       67  Regular customer            18
52       67  Regular customer            19
53       67  Regular customer            21
54       67  Regular customer            22
55       67  Regular customer            23
56       81      New customer             3
57       81      New customer             5
58       82  Regular customer             1
59       82  Regular customer             3

# Assignment 4.8

In [21]:
# aggreating mean with  whole dataframe
ords_prods_mergedd.groupby('department_id')['order_number'].mean()

department_id
1     15.457687
2     17.277920
3     17.179756
4     17.811403
5     15.213779
6     16.439806
7     17.225773
8     15.340520
9     15.895474
10    20.197148
11    16.170828
12    15.887622
13    16.583304
14    16.757377
15    16.165037
16    17.663250
17    15.694469
18    19.310397
19    17.177343
20    16.473447
21    22.902379
Name: order_number, dtype: float64

 In the first million subset our results only gave 8 different department while running it with the whole dataframe gave us all 21 departments making the mean numbers more accurate since we have the full data set.

# Loyalty flag  was created starting on  line  15

In [22]:
ords_prods_mergedd['loyalty_flag'].value_counts(dropna  = False)

Regular customer    15891077
Loyal customer      10293737
New customer         6249398
Name: loyalty_flag, dtype: int64

In [24]:
ords_prods_mergedd.groupby('loyalty_flag').agg({'prices': ['mean', 'min', 'max']})

                     prices
                       mean  min      max
loyalty_flag
Loyal customer    10.388747  1.0  99999.0
New customer      13.294370  1.0  99999.0
Regular customer  12.496203  1.0  99999.0

New and Regular customers are closer together in mean while the loyal customer mean is the lowest out of them all.

In [25]:
#making average column
ords_prods_mergedd['Average_price'] = ords_prods_mergedd.groupby(['user_id'])['prices'].transform(np.max)

In [26]:
ords_prods_mergedd.head(20)

,Unnamed: 0_x,order_id,user_id,eval_set,order_number,order_dow,order_hour_of_day,days_since_prior_order,first_time_ordering,product_id,...,department_id,prices,_merge,price_range_loc,busiet day,busiest_days,busiest_period_of_day,max_order,loyalty_flag,Average_price
0,0,2539329,1,prior,1,2,8,NaN,True,196.0,...,7,9.0,both,Mid-range product,Regularly busy,Regularly busy days,Average orders,10,New customer,14.0
1,1,2398795,1,prior,2,3,7,15.0,False,196.0,...,7,9.0,both,Mid-range product,Regularly busy,slowest days,Average orders,10,New customer,14.0
2,2,473747,1,prior,3,3,12,21.0,False,196.0,...,7,9.0,both,Mid-range product,Regularly busy,slowest days,Average orders,10,New customer,14.0
3,3,2254736,1,prior,4,4,7,29.0,False,196.0,...,7,9.0,both,Mid-range product,Least busy,Regularly busy days,Average orders,10,New customer,14.0
4,4,431534,1,prior,5,4,15,28.0,False,196.0,...,7,9.0,both,Mid-range product,Least busy,Regularly busy days,Average orders,10,New customer,14.0
5,5,3367565,1,prior,6,2,7,19.0,False,196.0,...,7,9.0,both,Mid-range product,Regularly busy,Regularly busy days,Average orders,10,New customer,14.0
6,6,550135,1,prior,7,1,9,20.0,False,196.0,...,7,9.0,both,Mid-range product,Regularly busy,Busiest days,Average orders,10,New customer,14.0
7,7,3108588,1,prior,8,1,14,14.0,False,196.0,...,7,9.0,both,Mid-range product,Regularly busy,Busiest days,Average orders,10,New customer,14.0
8,8,2295261,1,prior,9,1,16,0.0,False,196.0,...,7,9.0,both,Mid-range product,Regularly busy,Busiest days,Average orders,10,New customer,14.0
9,9,2550362,1,prior,10,4,8,30.0,False,196.0,...,7,9.0,both,Mid-range product,Least busy,Regularly busy days,Average orders,10,New customer,14.0
10,144,2968173,15,prior,15,1,9,7.0,False,196.0,...,7,9.0,both,Mid-range product,Regularly busy,Busiest days,Average orders,22,Regular customer,9.0
11,146,1870022,15,prior,17,2,16,8.0,False,196.0,...,7,9.0,both,Mid-range product,Regularly busy,Regularly busy days,Average orders,22,Regular customer,9.0
12,147,1911383,15,prior,18,2,11,7.0,False,196.0,...,7,9.0,both,Mid-range product,Regularly busy,Regularly busy days,Average orders,22,Regular customer,9.0
13,150,2715276,15,prior,21,1,9,7.0,False,196.0,...,7,9.0,both,Mid-range product,Regularly busy,Busiest days,Average orders,22,Regular customer,9.0
14,151,487368,15,prior,22,1,10,14.0,False,196.0,...,7,9.0,both,Mid-range product,Regularly busy,Busiest days,Most orders,22,Regular customer,9.0
15,209,2293453,19,prior,2,5,14,6.0,False,196.0,...,7,9.0,both,Mid-range product,Regularly busy,Regularly busy days,Average orders,9,New customer,23.9
16,212,1973799,19,prior,5,6,12,8.0,False,196.0,...,7,9.0,both,Mid-range product,Regularly busy,Regularly busy days,Average orders,9,New customer,23.9
17,214,532817,19,prior,7,4,17,6.0,False,196.0,...,7,9.0,both,Mid-range product,Least busy,Regularly busy days,Average orders,9,New customer,23.9
18,232,1573906,21,prior,10,3,10,6.0,False,196.0,...,7,9.0,both,Mid-range product,Regularly busy,slowest days,Most orders,33,Regular customer,15.0
19,458,1593000,31,prior,10,3,8,7.0,False,196.0,...,7,9.0,both,Mid-range product,Regularly busy,slowest days,Average orders,20,Regular customer,24.1

In [27]:
ords_prods_mergedd.loc[ords_prods_mergedd['Average_price'] <10, 'Spending_flag'] = 'Low Spender'

In [30]:
ords_prods_mergedd.loc[ords_prods_mergedd['Average_price'] >= 10, 'Spending_flag'] = 'High  Spender'

In [31]:
ords_prods_mergedd['Spending_flag'].value_counts(dropna  = False)

High  Spender    32402635
Low Spender         31577
Name: Spending_flag, dtype: int64

# New   spending_flag   made

In [32]:
#making  customer fequency column
ords_prods_mergedd['Customer_frequency'] = ords_prods_mergedd.groupby(['user_id'])['days_since_prior_order'].transform(np.max)

In [33]:
ords_prods_mergedd.loc[ords_prods_mergedd['Customer_frequency'] > 20, 'order_frequency_flag'] = 'Non-frequent customer'

In [34]:
ords_prods_mergedd.loc[(ords_prods_mergedd['Customer_frequency'] > 10) & (ords_prods_mergedd['max_order'] <=20), 'order_frequency_flag'] = 'Regular customer'

In [36]:
ords_prods_mergedd.loc[ords_prods_mergedd['Customer_frequency'] <= 10, 'order_frequency_flag'] = 'Frequent customer'

In [37]:
ords_prods_mergedd['order_frequency_flag'].value_counts(dropna  = False)

Non-frequent customer    13362204
Regular customer         12552421
NaN                       5134466
Frequent customer         1385121
Name: order_frequency_flag, dtype: int64

In [39]:
ords_prods_mergedd.to_pickle(r'C:\Users\makay\Documents\Pythons files\Master folder\02 Data\Prepared data\4.8 ords_prods_mergedd.pkl')